body {
    background-image: url("img/faded-office.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 100%;
    margin-left: 40px;
}

#header-text {
    color: #020202;
    font-weight: bold;
    margin-bottom: 0;
}

.paragraph {
    margin: 28px 0;
}

.btn {
    align-self: flex-start;
    background: #0ea5e9;
    color: white;
    border: none;
    padding: 12px 24px;
}

.underline {
    border-bottom: 4px solid #0ea5e9;
}